*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */
body{
    /* font neue helvetica aggiunda da cdn */
    font-family: 'Neue Helvetica', sans-serif;
    font-family: 'Neue Helvetica Outline', sans-serif;

    /* font whitney aggiunda da cdn */
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;

    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.center{
    width: 90%;
    margin: 0 auto;
    /* height: 100%; */
    /* debug */
    /* background-color: red; */
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/* intestazione */
nav{
    background-color: #3161e0;
    padding: 5px 0;
    /* debug */
    height: 60px;
}
#logoid{
    object-fit: cover;
    /* debug */
    /* width: 100%; */
}
aside{
    float: left;
    height: 100%;
    width: 15%;
    position: relative;
    /* debug */
    /* background-color: aqua; */
}
#nav-main{
    float: left;
    height: 100%;
    width: 70%;
    text-align: center;
    /* debug */
    /* background-color: red; */
}
#nav-main li{
    display: inline-block;
}
#nav-main a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}
aside button{
    position: absolute;
    right: 0;
}


/* sezione jumbotron */
.jumbotron{
    height: 80vh;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}
.container-jumbotron{
    color: #fff;
    text-align: center;
    padding: 10%;
}
.container-jumbotron h1{
    font-size: 40px;
    margin: 20px 0;
}
.container-jumbotron p{
    margin-bottom: 15px;
}


/* sezione main */

.col-left, .col-right{
    float: left;
    height: 70vh;
    position: relative;
}

.col-left{
    background-color: green;
    width: 65%;
}

.col-right{
    background-color: burlywood;
    width: 35%;
}

.content-center{
    /* debug */
    height: 200px;
    width: 200px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content{
    /* debug */
    background-color: #fff;
    height: 100%;
    width: 50%;
    margin: 0 auto;
}