*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */
body{
    /* font neue helvetica aggiunda da cdn */
    font-family: 'Neue Helvetica', sans-serif;
    font-family: 'Neue Helvetica Outline', sans-serif;

    /* font whitney aggiunda da cdn */
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;

    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.center{
    width: 90%;
    margin: 0 auto;
    /* height: 100%; */
    /* debug */
    /* background-color: red; */
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/* intestazione */
nav{
    background-color: #3161e0;
    padding: 5px 0;
    /* debug */
    height: 60px;
}
#logoid{
    object-fit: cover;
    /* debug */
    /* width: 100%; */
}
aside{
    float: left;
    height: 100%;
    width: 15%;
    position: relative;
    /* debug */
    /* background-color: aqua; */
}
#nav-main{
    float: left;
    height: 100%;
    width: 70%;
    text-align: center;
    /* debug */
    /* background-color: red; */
}
#nav-main ul{
    line-height: 60px;
}
#nav-main li{
    display: inline-block;
}
#nav-main a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}
aside button{
    position: absolute;
    right: 0;
}


/* sezione jumbotron */
.jumbotron{
    height: 400px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}
.container-jumbotron{
    color: #fff;
    text-align: center;
    padding: 10%;
}
.container-jumbotron h1{
    font-size: 40px;
    margin: 20px 0;
}
.container-jumbotron p{
    margin-bottom: 15px;
}


/* sezione main */

.col-left, .col-right{
    float: left;
    height: 400px;
    position: relative;
    margin: 50px 0;
}
.col-left{
    width: 55%;
}

.col-right{
    width: 45%;
}
.content-box{
    height: 100%;
    padding-top: 50px;
}
.content-box h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.content-box img{
    max-height: 100%;
}

/* sovrascrivo la sezione 2 con float right così da invertire la disposizione delle colonne */
#section-2 .col-left, .col-right{
    float: right;
}

#section-4 .text-decoration{
    text-align: center;
    padding: 0 100px;
}

#section-2, #section-4{
    background-color: #f6f6f6;
}

.call{
    text-align: center;
}

.call-title{
    background-image: url(../img/stars.svg);
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 550px;
    margin: 0 auto;
    line-height: 100px;
}

/* personalizzazione button */
button{
    background-color: #fff;
    padding: 12px 35px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

/* footer */
footer{
    /* debug */
    height: 200px;
    background-color: #23272a;
}